.avatarPlat {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  justify-content: center;
  & > img {
    position: absolute;
    bottom: 10%;
    right: -10%;
    transform: translate(-10%, 20%);
    border-radius: 50%;
  }

  &.disabled {
    filter: grayscale(100%);
    opacity: 0.6;

    &:hover {
      filter: grayscale(100%);
      opacity: 0.6;
    }
  }
}
