node_modules
.next
.git
.gitignore
.env*.local
.nyc_output
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
README.md
Dockerfile
.dockerignore
dist
build
.DS_Store
.vscode
.idea
*.log