.aiTool {
  height: 100%;
  display: flex;
  :global {
    .ant-menu {
      height: 100%;
      box-sizing: border-box;
      flex-shrink: 0;
      padding-top: 20px;
      svg {
        font-size: 20px;
      }
    }
  }
}

.aiTool-webview {
  width: 100%;
}